<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Patient</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<div class="container-fluid">
    <div class="message" th:if="${message}">
        <h2 th:text="${message}"/>
    </div>
    <form th:object="${patient}" method="post" th:action="@{/patient}">
        <input type="hidden" th:field="${patient.id}">
        <h2>Add new patient: </h2>
        <label>Enter patients name: </label>
        <input type="text" th:field="*{name}">
        <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:error="*{name}">Patient name must be from 2 to 30 characters!</div>
        <label>Enter patients surname: </label>
        <input type="text" th:field="*{surname}">
        <div class="alert alert-warning" th:if="${#fields.hasErrors('surname')}" th:error="*{surname}">Patient surname must be from 2 to 30
            characters!</div>
        <label>Enter patients email: </label>
        <input type="text" th:field="*{email}">
        <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:error="*{email}">Must be valid email address!</div>
        <label>Enter patients phone number: </label>
        <input type="text" th:field="*{phoneNumber}">
        <div class="alert alert-warning" th:if="${#fields.hasErrors('phoneNumber')}" th:error="*{phoneNumber}">Must be valid phone number xxx xxx
            xxx</div>
        <input type="submit" value="add">
    </form>
</div>
</body>
</html>