<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/2005/Atom">
<head>
    <meta charset="UTF-8">
    <title>Visits</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<div class="container-fluid">
    <div class="message" th:if="${message}">
        <h3 th:text="${message}"></h3>
    </div>
    <table class="table table-bordered" id="clinic-table" th:if="${visits}">
        <h2>Visit list:</h2>
        <tr>
            <th>ID</th>
            <th>Patient surname</th>
            <th>Doctor surname</th>
            <th>Date</th>
            <th>Description</th>
        </tr>
        <tbody th:each="visit : ${visits}">
        <td th:text="${visit.id}"></td>
        <td th:text="${visit?.patient?.surname}"></td>
        <td th:text="${visit?.doctor?.surname}"></td>
        <td th:text="${visit.date}"></td>
        <td th:text="${visit.description}"></td>
        <td><a th:href="@{'/visit/' + ${visit.getId()} + '/edit'}" class="btn btn-primary">Edit</a></td>
        <td><a th:href="@{'/visit/' + ${visit.getId()} + '/delete'}" onclick="return confirm('Are you sure?')"
               class="btn btn-warning">Delete</a></td>
        </tbody>
    </table>
    <a th:href="@{'/visit/add'}" class="btn btn-primary">Add visit</a>
    <form action="/visit/surname" method="get">
        <label>Enter patients surname</label>
        <input type="text" name="surname">
        <input type="submit" value="Find" class="btn btn-primary">
    </form>
    <form action="/visit/date" method="get">
        <label>Enter visit date</label>
        <input type="date"  name="visitDate">
        <input type="submit" value="Find" class="btn btn-primary">
    </form>
</div>
</body>
</html>